*{
    margin: 0;
    padding: 0;
}

#logo{
    background-image: url(./assets/tesla-seeklogo.com.svg);
    background-repeat: no-repeat;
    width: 150px;
    background-position: center;
    background-size: 80%;
    height: 40px;
    margin-right: -200px;
}

#conta{
    border: 1px solid red;
    
}

