* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

#hero{
    width: 100%;
    height:100vh;
    background-image: url(./assets/M3-Homepage-D.jpg);
    background-position: center;
    background-size: cover;
}

body {
    font-size: 18px;
    font-weight: 550;    
}

#logo {
    background-image: url(./assets/tesla-seeklogo.com.svg);
    background-repeat: no-repeat;
    width: 150px;
    background-position: center;
    background-size: 80%;
    height: 40px;
}

ul li a {
    color: black;
}

ul li a:hover {
    background-color: transparent;
    opacity: 10;
    border-radius: 12px;
    opacity: 10;
    color: black;
}

#title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    justify-content: center;
    
}

#subtitle {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    justify-content: center;
    font-size: 18px;
    font-weight: normal;
}